/*PRODUCTOS*/
.section__pd{
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B49286;
    overflow-x: hidden;
}

.faqs{
    min-height: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #2c2c2c;
    overflow-x: hidden;
}

.title__faqs{
    width: 100vw;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Jost';
    color: #2c2c2c;
    background-color: #fff;
    padding: 50px 0px;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #2c2c2c;
    cursor: pointer;
    padding: 30px 0;
    margin: 15px 0;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.5rem;
    font-family: 'Jost';
    font-weight: 550;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active .fa-chevron-down{
    transform: rotate(180deg);
}

.fa-chevron-down {
    transition: transform .5s ease-in;
    font-size: 1.3rem;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*MEDIA QUERYS*/
@media screen and (min-width: 240px){
    .section__pd{
        height: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F3D9DC;
        overflow-x: hidden;
    }

    .comida__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1100px;
        gap: 2em;
    }
    
    .faqs{
        min-height: auto;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #C78283;
        color: #fff;
        overflow-x: hidden;
        padding: 15px;
    }
    
    .title__faqs{
        width: 100vw;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Jost';
        color: #fff;
        background-color: #C78283;
        padding: 15px;
    }
    
    .faq{
        max-width: 860px;
        margin-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #fff;
        cursor: pointer;
        padding: 30px 0;
        margin: 15px 0;
    }
    
    .question{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .question h3{
        font-size: 1.7rem;
        font-family: 'Jost';
        font-weight: 550;
    }
    
    .answer{
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.4s ease;
    }
    
    .answer p{
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 400px){
    .section__pd{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-family: 'Jost', sans-serif;
    }

    .comida__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1100px;
        gap: 2em;
    }
}

@media screen and (min-width: 640px){
    .section__pd{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-family: 'Jost', sans-serif;
    }

    .comida__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1100px;
        gap: 2em;
    }
}

@media screen and (min-width: 768px){
    .section__pd{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-family: 'Jost', sans-serif;
    }

    .comida__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1100px;
        gap: 2em;
    }
    
    .faqs{
        min-height: auto;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #C78283;
        color: #fff;
        overflow-x: hidden;
        padding: 15px;
    }
    
    .title__faqs{
        width: 100vw;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Jost';
        color: #fff;
        background-color: #C78283;
        padding: 15px;
    }
    
    .faq{
        max-width: 700px;
        margin-top: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #fff;
        cursor: pointer;
        padding: 30px 0;
        margin: 15px 0;
    }
    
    .question{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .question h3{
        font-size: 1.7rem;
        font-family: 'Jost';
        font-weight: 550;
        color: #fff;
    }
    
    .answer{
        max-height: 0;
        overflow: hidden;
        transition: max-height 1.4s ease;
    }
    
    .answer p{
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 1.2rem;
        color: #fff;
    }

    .fa-chevron-down{
        color: #fff;
    }
}

@media screen and (min-width: 1115px){
    .section__pd{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        font-family: 'Jost', sans-serif;
        background-color: #F3D9DC;
    }
    
    
    .comida__container{
        width: 100%;
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        gap: 2em;
    }
}